@import "./shared.css";

.cell {
    box-sizing: border-box;
    float: left;
    height: var(--cell-length);
    width: var(--cell-length);
}

.piece {
    margin: calc((var(--cell-length) - var(--piece-radius)) / 2) auto;
    @apply --stone-style;
}